/* Home & Slider */

#inicio {
    padding: 0;
  }

#inicio h1 {
    color: #ffffff;
  }

#inicio h3 {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 40px 0;
  }

@media (min-width: 768px) {
    .home-slider .col-md-6 {
        padding-left: 0;
    }
}

.home-slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
}

.home-slider .item {
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
}
  
.caption h3 a { color: #FFF; }
.caption h3 a:hover { color: #FF3; }

/*
.home-slider .item-first {
    background-image: url(../Img/slider-image1.jpg);
	background-position: center;
}


.home-slider .item-second {
    background-image: url(../Cisco/Img/po.gif);
}

.home-slider .item-third {
    background-image: url(../Img/slider-image2.jpg);
}


.home-slider .item-quarter {
    background-image: url(../Img/courses-image3.jpg);
 }
*/

/* Buttons */
.section-btn{
    background: transparent;
    border-radius: 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: inherit;
    font-weight: normal;
    padding: 15px 30px;
    transition: 0.5s;
}

.section-btn:hover{
    color: #fff;  
    background: #29ca8e;
    border-color: transparent;
}

#myVideo {
    position: fixed;
    min-width: 100%; 
    min-height: 100%;
}
