.tm-position-relative { position: relative; }
.tm-flex-align-center { align-items: center; }
.tm-fa-6x { font-size: 6em; }
.tm-margin-b-0 { margin-bottom: 0; }
.tm-margin-b-20 { margin-bottom: 20px; }
.tm-p-4 { padding: 2rem!important; }
.tm-color-white { color: white; }
.tm-color-primary {	color: #f03840; }
.tm-bg-gray { background: #F4F4F4; }
.tm-bg-white { background: white; }
.tm-down { margin-top: -60px; margin-bottom: 60px;}

.tm-section-down-arrow {
  position: absolute;
  top: -1px;
  width: 100%;
  height: 100px;
    
}

.tm-pt-5 { padding-top: 100px; }
.tm-pb-4 { padding-bottom: 100px; }

.tm-section-2 {
	background: #44a34f;
	position: relative;
}

.tm-section-title {
	color: white;
	font-size: 3rem;
}

.tm-section-title-2 {
	font-size: 3.2rem;
    font-weight: 600;
}

.tm-section-subtitle {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 25px;
}

.tm-section-subtitle-2 { font-size: 1.8rem; }

.tm-btn-white-bordered {
	display: inline-block;
	padding: 10px 25px;
	border: 2px solid white;
	background: transparent;
	text-transform: uppercase;
}

.tm-btn-white-bordered:hover,
.tm-btn-white-bordered:focus {
	color: #ee5057;
	background: white;	
}

.slick-dots { bottom: -35px; }

.tm-article {
	padding: 30px;
	transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.01);
}

.tm-article:hover {
	-webkit-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	transform: scale(1.1);
}

.tm-article-title-1 {
	font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.tm-article-title-2 { 
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 1px;
}

.tm-article-title-3 { font-size: 1.1rem; }

.tm-btn-primary {
	display: block;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
}

.tm-sidebar-title {
	font-size: 1.3rem;
	margin-bottom: 5px;
}

.tm-sidebar-item-title {
	font-size: 1.2rem;
	letter-spacing: 1px;
	margin-bottom: 0;	
}

@media only screen and (max-width: 1000px) {
    .tm-section-2{
        margin-top: -60px;
    }
    .tm-down{
        margin-bottom: 0px;
    }
}
